# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# Node (caso use alguma ferramenta futura)
node_modules/

# VSCode
.vscode/
.history/

# Python cache (se testar scripts)
__pycache__/

# Docker
docker-compose.override.yml
